<?xml version="1.0" encoding="ISO-8859-1"?>

<plugin xmlns="http://www.willuhn.de/schema/jameica-plugin"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.willuhn.de/schema/jameica-plugin http://www.willuhn.de/schema/jameica-plugin-1.2.xsd"
        name="hibiscus.ly.toolkit" version="1.0.7" class="de.open4me.ly.webscraper.Plugin">

  <description>Library, die von verschiedenen Plugins genutzt wird</description>
  <url>https://www.open4me.de/hibiscus/hibiscus.ly.toolkit/hibiscus.ly.toolkit.zip</url>
  <homepage>https://github.com/littleyoda/hibiscus.ly.toolkit</homepage>
  <license></license>

  <requires jameica="2.6.0+">
    <import plugin="hibiscus" version="2.8.0+" />
    <import plugin="hibiscus.scripting.selenium" version="3.8.1+" />
    <import plugin="hibiscus.scripting.htmlunit" version="4.0+" />
    <import plugin="hibiscus.scripting.chromedriver" version="2.40+" />
    <import plugin="finance.websync" version="0.8.8+" />
  </requires>

</plugin>
